@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}

nav {
    padding: 25px 8.3%;
    color: white;
    background: black;
    top: 0;
    display: flex;
    position: sticky;
    flex-direction: row; 
    justify-content: space-between;

}


header {
    justify-content: center;
    background-color: black;
    color: white;
    display: flex;
    /* align-items: center; */
    flex-direction: row-reverse;
    padding: 5%  8.3% 5% 8.3%;

}

header div {
    /* margin: 0 8.3% 0 8.3%; */
    /* width: 50%; */
}

/* header div img {
    width: 33%;
    margin: 0 8.3% 0 0%;
    
} */


a {
    text-decoration: none;
}

/* specific section 8*/
nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;

}

nav li {
    list-style-type: none;
    padding-left: 20px;
    
}
/* space between navigation is result padding left */

nav ul a {
    color: white;
    font-weight: 700;
}

img {
    margin: 20px;
}

#design {
    background-color: white;
    margin: 0 8.3% 0 8.3%;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 rgba(210, 210, 210, 0.5);
    display: flex;
    flex-direction: row;
    padding: 70px 50px 108px 50px;
    justify-content: space-between;
}

#design article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
#line {
    background-color: red;
    width: 50px;
    height: 3px;
}
.customer-container {
    margin-left: 8.3%;
    display: flex
}

.testimonial-container {
    margin-left: -25%;
    display: flex;
}

.left-column {
    width: 41.7vw;
    background-image: url(./Images/quote_2019-09-05/quote@3x.png);
    background-size: 40%;
    background-repeat: no-repeat;
    margin-top: 30px;
    padding-left: 25px;
}

.right-column {
    width: 60vw;
    background-color: black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10% 0px;
    
}
.testimonial-column {
    width: 420px;
    height: 330px;
    background-color: #3097ce;
    border-radius: 20px;
    box-shadow: 12px 12px 40px 0 rgba(0, 0, 0, 0.2);
    margin-right: 60px;
    padding: 80px 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.testimonial-column img {
    height: 15%;
}

.testimonial-column p:last-of-type {
    margin-top: auto;
}
.testimonial-column:last-of-type {
    background-color: white;
    color: black;
}

button {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row {
}